



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.page-title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
}

.page-content {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #173F5F;
}
